@media (min-width:901px) {
    .screenshot {
        max-width: 50%;
        height: auto;
        width: auto;
    }
}

@media (max-width: 900px) {
    .screenshot {
        max-width: 100%;
        height: auto;
        width: auto;
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

.animate-content-fade-in {
    animation: slideInFromRight 0.5s ease;
    transform-origin: right center;
    padding: 2rem;
    background-color: rgba(150,150,150,0.2);
    border-radius: 25px;
}