@font-face {
    font-family: khMenu;
    src: url(../assets/fonts/KHMenu.otf);
    
}

.sidebar {
    padding-left: 1rem;
}

.menu {
    font-family: khMenu;
}

#submenu1 {
    
}
.table-btn {
  position: relative;
  border: none;
  z-index: 1;
  overflow: hidden;
  text-align: left;
  padding-right: 150px;
}

@media (max-width: 900px) {
    .table-btn {
        padding-right:10px;
    }
}

.table-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(90deg, #2279d1, #5191c9, #8fc7e8, #fff);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.4s ease;
}
.table-btn:is(:hover, :focus) { color: #fff; }
.table-btn:is(:hover, :focus)::before { transform: scaleX(1); }